
C#/Proiecte C#/GoogleMaps/
PC/Tema1.TetriBit/TetriBit/
IOCLA/Tema1/iocla-tema1-resurse/skel/324CD_GrigoreLucian.zip
IOCLA/Tema1/iocla-tema1-resurse/skel/README.txt
C#/C#Projects/GoogleMaps/
3rd Year/EGC - Computer Graphics/Framework-EGC-master/Visual Studio/.vs/Framework_EGC/v16/ipch/AutoPCH/127fb3a9b7772f9c/LABORATOR6.ipch
3rd Year/EGC - Computer Graphics/Framework-EGC-master/Visual Studio/.vs/Framework_EGC/v16/ipch/AutoPCH/9a96a003aaf3c16d/TEMA2.ipch
3rd Year/EGC - Computer Graphics/Framework-EGC-withrendertext/Visual Studio/.vs/Framework_EGC/v16/ipch/AutoPCH/f2eee33040d35ea4/TEMA2.ipch
3rd Year/EGC - Computer Graphics/Framework-EGC-master/Visual Studio/.vs/Framework_EGC/v16/ipch/AutoPCH/9388c6d9271d64c6/LABORATOR5.ipch
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_first_cost_function_doggie.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_first_cost_function_mouse.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_first_cost_function_music.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_first_cost_function_smile.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_first_cost_function_tower.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_first_cost_function_train.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_second_cost_function_doggie.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_second_cost_function_mouse.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_second_cost_function_music.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_second_cost_function_smile.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_second_cost_function_tower.json
/4th Year/IA - Artificial Intelligence/Homework/Tema1 IA/A*_second_cost_function_train.json
